<div class="h-100 w-100 mt-5 d-flex justify-content-center align-items-center border rounded border-secondary">
    <h1 class="text-dark text-center my-4 ">Espero que vuelvas pronto <span class="mx-5 text-success" >{{username}}</span></h1>
</div>
<script>
        setTimeout(() => {
            location.href = '/api/login'
        }, 2000)
</script>