<div class="h-100 w-100 mt-5 d-flex justify-content-center align-items-center border rounded border-secondary bg-danger text-white">
    <h1 class="text-dark text-center my-4 ">Error al introducir el usuario o contraseña, intente nuevamente</h1>
</div>
<script>
        setTimeout(() => {
            location.href = '/api/login'
        }, 5000)
</script>